body {
    background-color: #ece9e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 50px;
    margin-top: 100px;
    background-color: rgb(235, 19, 37);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px #000;
}